

.box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: linear-gradient(rgb(255, 251, 251),rgba(43, 46, 43, 0.651));
    box-shadow: .5rem .5rem .5rem black, -.5rem -.5rem .5rem black;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container>h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    font-weight: 900;
    text-shadow: .1rem .1rem .1rem whitesmoke, -.1rem -.1rem .1rem rgb(248, 248, 248);
    padding: 1rem;
}
.container > h1 > span {
    color: red;
}

.list {
    list-style: none;
    font-size: 3rem;
    font-weight: 600;
}
.list > li {
    padding: .2rem;
    color: rgb(2, 2, 2);
}

.list li:hover {
    transform: scale(1.05);
}

.container>a {
    background-color: gray;
    background: linear-gradient( rgb(157 232 255),rgb(10, 202, 250),#1c7ed2);
    border: 1px solid;
    margin: .5rem;
    width: 40rem;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.container>a:hover {
    transform: scale(1.01);
    background-color: ghostwhite;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(34, 34, 34), rgba(43, 46, 43, 0.651));
    
}


/* Resoponsive CSS */
@media only screen and (min-width: 813px) and (max-width: 1240px){
    html{
        font-size: 30% !important;
    }
}
@media only screen and (min-width: 1px) and (max-width: 812px){
    html{
        font-size: 30% !important;
    }
    .container > h1 {
        font-size: 5rem;
    }
}