<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
  style
    include ../static/style.css
  <title>#{title}</title>
</head>
<body>
  <div class="container">
    <div class="box">
        <form action="/" method="post" class="mid">
          <h1>Contact Us</h1>
          <input type="text" name="name" class="field" placeholder="First Name">
          <input type="text" name="lastname" class="field" placeholder="Last Name">
          <input type="email" name="email" class="field" placeholder="E-mail">
          <input type="text" name="Phone" class="field" placeholder="Phone">
          <textarea name="more" class="field" style="min-height: 140px;" placeholder="No more than 300 characters"></textarea>
          <button class="btn">Send Now</button>
        </form>
    </div>
  </div>
</body>
</html>